.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-style{
    text-decoration: none;
    color: white;
}

.label-style{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }