#header-bar{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: 72px;
    background: linear-gradient(to bottom, #00000088, transparent);
}

#bottom-bar{
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
    background: linear-gradient(to top, #00000088, transparent);
}

.social-circle-button{
    border-radius: 100%;
    width: 46px;
    height: 46px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #00000080;
}

.chat-button{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #b12c23;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #00000050;
}