.credits-box-to-pay{
    border: 2px solid #FFFFFF88;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 0px 18px;
    height: 65px;
    cursor: pointer;
    margin-bottom: 8px;
}

.box-to-pay-selected{
    border: 2px solid #BA68C8;
    background-color: transparent;
}

.credits-box-to-pay:hover{
    background-color: #1A1A1A;
}

.credits-price{
    font-weight: 600;
    color: white,
}

.credits-price-discounted{
    font-weight: 500;
    font-size: 13px;
    text-decoration: line-through;
    color: grey;
}

.label-form{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.package-box-create-adv{
    border: 2px solid #FFFFFF88;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    cursor: pointer;
    margin-bottom: 8px;
}

.package-box-create-adv:hover{
    background-color: #191919;
}

.div-box-selection{
    background-color: #1c1c1c;
    border: 1px solid #474646;
    border-radius: 12px;
    padding: 10px 10px 0px 10px;
}

.box-selectable{
    background-color: #282828;
    border: 1px solid #474646;
    border-radius: 32px;
    padding: 8px 14px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #666666;
    font-size: 14px;
    cursor: pointer;
    float: left;
}

.selected {
    color: white;
    background-color: #B02D23;
    border: 1px solid #B02D2333;
}