/* Grid style */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px 8px;
    padding: 0px 16px;
    width: 100vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.grid-item-image {
    background-color: grey;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    height: 80%;
}

.grid-item-description {
    padding: 6px 0px 0px 2px;
    height: 20%;
    border-radius: 0px 0px 8px 8px;
}

.floating-action-button{
    background-color: #BA68C8;
    box-shadow: 0px 0px 10px 2px black;
    padding: 16px;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 80px;
    border: none;
    position: fixed;
    font-size: 28px;
}

.floating-action-button:hover{
    background-color: #BA68C8CC;
}

.setting-box-button{
    border: none;
    border-top: 1px solid #414040;
    background-color: #252425;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px;
    font-size: 14px;
}

.setting-box-button:hover{
    background-color: #252425CC;
}