.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px 10px;
    padding: 12px 0px;
}

.grid-item{
    background-color: white;
    box-shadow: 0px 0px 10px 1px #111111;
    height: 400px;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.grid-arrow-icon{
    visibility: hidden;
    position: absolute;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFFBB;
    padding: 0px 12px;
    font-size: 32px;
}

.grid-item:hover{
    cursor: pointer;
}

.grid-item:hover .grid-arrow-icon{
    visibility: visible;
}

.grid-item-title{
    flex: 9;
    height: 80%;
}

.grid-item-description{
    background-color: #1f1f1f;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

.floating-action-button{
    background-color: #BA68C8;
    box-shadow: 0px 0px 10px 2px black;
    padding: 16px;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 80px;
    border: none;
    position: fixed;
    font-size: 28px;
}

.floating-action-button:hover{
    background-color: #BA68C8CC;
}

.setting-box-button{
    border: none;
    border-top: 1px solid #414040;
    background-color: #252425;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px;
    font-size: 14px;
}

.setting-box-button:hover{
    background-color: #252425CC;
}
