.location-element{
    width: 100%;
    border: none;
    padding: 6px;
    background-color: #2D2D2D;
    color: white;
    border-radius: 4px;
}

.location-element:hover{
    background-color: #2d2d2d78;
}

#search-button{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border: none;
    margin: 1px;
    padding: 0px 12px;
    background-color: #c3c3c3;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}