.center-class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-form{
    background-color: #242424;
    border: 1px #666666 solid !important;
    border-radius: 8px;
    width: 100%;
    padding: 0px 14px;
    color: white;
    outline: none;
    height: 40px;
    padding-right: 50px;
}

.search-icon{
    background-color: white;
    color: black;
    border-radius: 0px 6px 6px 0px;
    width: 44px;
    padding: 10px;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 97%;
    cursor: pointer;
}

.search-icon:hover{
    background-color: #FFFFFFDD;
}

.main-form:focus{
    border: 1px white solid !important;
    box-shadow: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }