.center-class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-form{
    background-color: #242424;
    color: white;
    border: 1px #9E9E9E solid;
    border-radius: 8px;
    width: 100%;
    padding: 14px 14px;
}

.main-form:focus{
    border: 1px #7e7d7d solid;
    box-shadow: none;
}
