input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.main-app-bar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    height: 60px;
    width: 100vw;
}

#cancel-button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    margin: 0px 10px;
}

#cancel-button:hover{
    background-color: #FFFFFF22;
}

.desktop-app-bar{
    max-width: 1380px;
    width: 100%;
    height: 100%;
}

.mobile-app-bar{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.credits-title{
    color: white;
    text-decoration: none;
    margin-right: 12px;
    font-size: 14px;
}

.credits-title:hover{
    text-decoration: underline;
}

.dropdown-box{
    font-size: 13px;
    padding: 4px 8px;
    border: 1px solid #666666;
    background-color: #242424;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .desktop-app-bar{
        visibility: hidden;
    }

    .mobile-app-bar{
        visibility: visible;
    }
}