input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.main-app-bar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 60px;
    width: 100vw;
}

.desktop-app-bar{
    max-width: 1324px;
    width: 100%;
    height: 100%;
}

.mobile-app-bar{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .desktop-app-bar{
        visibility: hidden;
    }

    .mobile-app-bar{
        visibility: visible;
    }
}