.bottom-bar{
    position: fixed;
    bottom: 0;
    visibility: hidden;
    z-index: 2;
}

.bottom-bar{
    position: fixed;
    bottom: 0;
    visibility: hidden;
}

@media only screen and (max-width: 900px) {
    .bottom-bar{
        visibility: visible;
    }
}

.bottom-element{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bottom-element:hover{
    background-color: #050505;
}

.bottom-icon{
    color: white;
    font-size: 20px;
}