.desktop-buttons{
    border: 1px white solid;
    border-radius: 4px;
    display: flex;
    color: white;
    align-items: center;
    padding: 8px 16px;
    background-color: transparent;
    transition: 100ms;
    cursor: pointer;
}

.main-buttons{
    border: 1px white solid;
    border-radius: 4px;
    display: flex;
    color: white;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    background-color: transparent;
    transition: 100ms;
    cursor: pointer;
}

.main-buttons:hover{
    background-color: #313030;
    transition: 100ms;
}

.desktop-buttons:hover{
    background-color: #313030;
    transition: 100ms;
}

.buttons-icons{
    font-size: 22px;
    color: white;
}

.buttons-icons-secondary{
    font-size: 24px;
}

.buttons-text{
    padding-left: 6px;
    font-size: 16px;
}

.secondary-buttons{
    display: flex;
    border: none;
    align-items: center;
    border-radius: 12px;
    color: white;
    padding: 0px 12px;
    height: 55px;
    margin-bottom: 8px;
    background-color: #151414;
    transition: 100ms;
}

.secondary-buttons:hover{
    background-color: #111111;
    transition: 100ms;
    cursor: pointer;
}

.links-sidebar{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.default-information-page{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-information-page-child{
    padding: 0px 12px;
    max-width: 1300px;
    width: 100%;
}